[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=modelio-snapcraft
Icon=${SNAP}/meta/gui/modelio.png
Categories=Science;Education;
Name=Modelio
Comment=Modelio ${SNAPCRAFT_PROJECT_VERSION}